.App {
  margin-left: 100px;
  margin-right: 100px;
}

.app-content {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .App {
    margin-left: 0;
    margin-right: 0;
  }
}

.loader {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-text {
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
}